<!--
    __developer__ = "mobius-crypt"
    __email__ = "mobiusndou@gmail.com"
    __twitter__ = "@blueitserver"
    __github_repo__ = "https://github.com/freelancing-solutions/memberships-and-affiliate-api"
    __github_profile__ = "https://github.com/freelancing-solutions/"
    __licence__ = "MIT"
-->
{% extends "admin/layouts/layout.html" %}
{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
<!-- /.content -->

{% endblock content %}